<div layout="column" style="height:600px" ng-cloak>
    <md-toolbar md-scroll-shrink> 
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button md-primary">
                <i class="material-icons">menu</i>
            </md-button>
            <h3>
                Projecteer
            </h3>
            <span flex=""></span>
            <a class="md-button md-raised" ng-href="#/app/create">Create Project</a>
            <md-button class="md-raised" ng-click="logout()">
                Log Out
            </md-button>
        </div>
    </md-toolbar>
</div>